* {
    outline: 1px solid red;
    /* vertical-align: top; */
    box-sizing: border-box;
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
}

/* colors 
blue1: rgb(0, 101, 150) 006596
blue: rgb(42, 123, 162) 0E749F
phone number: rgb(0, 196, 223) 00C4DF
aqua: rgb(193, 228, 231) C1E4E7*/

/* repeated elements */

.blue {
    color: rgb(0, 101, 150);
}

.aqua {
    color: aqua
}

/* repeated elements end */

/* header section begins */

header {
    width: 970px;
}

header img {
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    top: 25px;
    width: 100px;
    padding: 10px;
}

h1 {
    display: inline-block;
}

h2 {
    padding: 10px;
    color: whitesmoke;
    background-color: rgb(42, 123, 162);
}

/* header section ends */

/* #lefSide section begins */

#leftSide {
    display: inline-block;
    width: 200px;
    margin-left: 190px;
}

/* #leftTop section begins */

#leftTop {
    border-bottom: 1px solid gray;
}

h5, #leftTop p, #leftTop a {
    margin-top: 10px;
}

span {
    color: red;
}

#leftTop p {
    font-weight: bold;
    font-size: small;
}

#leftTop a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
    padding: 10px;
    border-radius: 6px;
    background-color: teal;
}

#leftTop #resources {
    margin-bottom: 25px;
    background-color: rgb(255, 130, 0)
}

/* #leftTop section ends */

/* #leftBottom section begins */

#leftBottom {
    background-image: url("img/ad_background.png");
    height: 255px;
}

#leftBottom p {
    width: 200px;
    margin-top: 25px;
    padding: 10px;
    color: whitesmoke;
    text-align: center;
    font-size: 16pt;
}

#ninja {
    width: 75px;
    position: relative;
    left: 55px;
    bottom: 5px;
}

#leftBottom a {
    display: block;
    text-align: center;
    width: 150px;
    padding: 5px;
    margin-top: 15px;
    color: whitesmoke;
    background-color: turquoise;
    text-decoration: none;
    border-radius: 6px;
}

#leftBottom a::after {
    content: ' \00BB';
}

/* #leftBottom section ends */

/* #leftSide section ends */

/* #mainContent section begins */

#mainContent {
    width: 751px;
    margin-left: 15px;
    display: inline-block;
    vertical-align: top;
}

/* #mainContent section ends */

/* #contactLine section begins */

#contactLine {
    width: 751px;
    padding: 5px;
    border-bottom: 1px solid gray;
}

#contactLine a img {
    width: 15px;
    vertical-align: top;
}

#contactLine p:nth-child(2) {
    display: inline-block;
    font-size: 10pt;
    color: rgb(0, 101, 150);
    vertical-align: top;
}

#phoneNumber {
    width: 225px;
    display: inline-block;
    margin-left: 463px;
}

#phoneNumber img {
    vertical-align: top;
    display: inline-block;
    width: 45px;
    padding: 5px;
}

#hoursNumbers {
    display: inline-block;
    width: 148px;
}

#hoursNumbers p:nth-child(1), #hoursNumbers p:nth-child(3) {
    font-size: 7pt;
    /* text-align: center; */
}

#hoursNumbers p:nth-child(2) {
    color: aqua;
    font-size: 15pt;
    font-weight: bold;
}

/* #hoursNumbers p:nth-child(3) {
    font-size: 8pt;
} */

/* #contactLine section ends */

/* #info section begins */

h4 {
    color: rgb(0, 101, 150);
}

#info p {
    /* padding: 8px; */
    font-size: 10pt;
}

li {
    padding: 5px;
    font-size: 10pt;
}

#info img {
    width: 235px;
    padding: 10px;
    margin-left: 250px;
}

/* #bigThree section begins */

#bigThree {
    border: 4px solid rgb(42, 123, 162);
    border-bottom: 0px;
    margin-top: 10px;
}

#bigThree img {
    width: 110px;
    margin-left: 0px;
}

#bigThreeInfo {
    display: inline-block;
    width: 628px;
    vertical-align: top;
}

#bigThreeInfo h4 {
    margin-top: 5px;
}

#bigThreeInfo p {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* #bigThree section begins */

/* #info section ends */